{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">О нас</h2>
                    <p class="card-text text-center">
                        Данный сервис создан для того, чтобы пользователи могли показывать другим пользователям свои авто и получать обратную связь по своим ним
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}